
<section class="box">
  <div class="columns has-background-black">
    <div class ="column card has-background-grey-darker">
      <header class="card header has-background-black">
         <p class="card-header-title has-text-white">{{ station.title}} &nbsp&nbsp&nbsp&nbsp {{> icons/station}} </p>
      </header>
      <div class="box card-content has-background-black">
        <div class="content has-text-white">
          <b>lat:</b>  {{station.latitude}}  <br>
          <b>lang:</b> {{station.longitude}}        
        </div>
      </div>
    </div>
    <div class ="column card has-background-grey-darker">
      <header class="card header has-background-black ">
         <p class="card-header-title has-text-white">Weather</p>
      </header>
      <div class="box card-content has-background-black">
        <div class="content has-text-white">
             inject weather        
        </div>
      </div>
    </div>
    <div class ="column card has-background-grey-darker">
      <header class="card header has-background-black ">
         <p class="card-header-title has-text-white">Temperature &nbsp&nbsp&nbsp&nbsp {{> icons/temp}}</p>
      </header>
      <div class="box card-content has-background-black">
        <div class="content has-text-white">
          {{latestReport.temperature}}&degC <br>
          <b>Max:</b> {{latestReport.temperature}}&degC <br>
          <b>Min:</b>&degC
        </div>
      </div>
    </div>
    <div class ="column card has-background-grey-darker">
      <header class="card header has-background-black ">
         <p class="card-header-title has-text-white">Wind &nbsp&nbsp&nbsp&nbsp {{> icons/wind}}</p>
      </header>  
      <div class="box card-content has-background-black">
        <div class="content has-text-white">
            {{latestReport.windSpeed}} km/h <br>
          <b>Max:</b> {{latestReport.windSpeed}} km/h <br>
          <b>Min:</b> km/h  
        </div>
      </div>
    </div>
    <div class ="column card has-background-grey-darker">
      <header class="card header has-background-black ">
         <p class="card-header-title has-text-white">Pressure &nbsp&nbsp&nbsp&nbsp {{>icons/pressure}}</p>
      </header>
      <div class="box card-content has-background-black">
        <div class="content has-text-white">
         {{latestReport.pressure}} hpa <br>
          <b>Max:</b>{{latestReport.pressure}} hpa <br>
          <b>Min:</b>hpa
        </div>
      </div>
    </div>
  </div>
</section>