
<section class="box">
  <div class="columns has-background-white">
    <div class ="column card has-background-white">
      <header class="card header has-background-black">
         <p class="card-header-title has-text-white">{{ station.title}} &nbsp&nbsp&nbsp&nbsp {{> icons/station}} </p>
      </header>
      <div class="box card-content has-background-black">
        <div class="content has-text-white">
          <b>lat:</b>  {{station.latitude}}  <br>
          <b>long:</b> {{station.longitude}}        
        </div>
      </div>
    </div>
    <div class ="column card">
      <header class="card header has-background-black ">
         <p class="card-header-title has-text-white">Weather <img src ="{{weatherIcon}}"</p>
      </header>
      <div class="box card-content has-background-black">
        <div class="content has-text-white">
             {{weather}}        
        </div>
      </div>
    </div>
    <div class ="column card ">
      <header class="card header has-background-black ">
         <p class="card-header-title has-text-white">Temperature &nbsp&nbsp&nbsp&nbsp {{> icons/temp}}</p>
      </header>
      <div class="box card-content has-background-black">
        <div class="content has-text-white">
          {{latestReport.temperature}}&degC <br>
          <b>Max:</b> {{maxTemp}}&degC <br>
          <b>Min:</b> {{minTemp}}&degC
        </div>
      </div>
    </div>
    <div class ="column card ">
      <header class="card header has-background-black ">
         <p class="card-header-title has-text-white">Wind &nbsp&nbsp&nbsp&nbsp {{> icons/wind}}</p>
      </header>  
      <div class="box card-content has-background-black">
        <div class="content has-text-white">
            {{latestReport.windSpeed}} bft <br>
          <b>kmh:</b> {{windKmh}} kmh<br>
          <b>Max:</b> {{maxWind}} mph <br>
          
          <b>Min:</b> {{minWind}} mph 
        </div>
      </div>
    </div>
    <div class ="column card ">
      <header class="card header has-background-black ">
         <p class="card-header-title has-text-white">Pressure &nbsp&nbsp&nbsp&nbsp {{>icons/pressure}}</p>
      </header>
      <div class="box card-content has-background-black">
        <div class="content has-text-white">
         {{latestReport.pressure}} hpa <br>
          <b>Max:</b>{{maxPressure}} hpa <br>
          <b>Min:</b>{{minPressure}}hpa
        </div>
      </div>
    </div>
  </div>
</section>