{{> menu active="station"}}

<div class="dropdown is-hoverable">
  <div class="dropdown-trigger">
    <button class="button is-danger" aria-haspopup="true" aria-controls="dropdown-menu4">
      <span>Wind Direction</span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu4" role="menu">
    <div class="dropdown-content">
      <div class="dropdown-item">
        <p>
          {{windDeg}} &deg
        </p>
      </div>
    </div>
  </div>
</div>

<section class ="section">
  <div class="title">
    {{station.title}}
  </div>
  
  {{> cards-report}}
  {{> list-report}}
  {{> add-report}}
  

</section>
<section class="box has-text-centered">
  <h3 class="is-3 title">
    Current Weather for {{station.title}}
  </h3>
  <div class="section">
    {{> reading-table}}
  </div>
  <section class="section">
    <form action="/station/{{station._id}}/addreport" method="POST">
      <div class="field-body">    
        <button class="button is-link">Add Current Weather</button>
      </div>
    </form>
  </section>
</section>

<div class="box" id="chart"></div>
<script>
  const data = {
    labels: [
      {{#each reading.trendLabels}}
        "{{this}}",
      {{/each}}
    ],
    datasets: [
      {
        name: "Temperature", type: "line",
        values: [
          {{#each reading.tempTrend}}
            {{this}},
          {{/each}}
        ]
      }
    ]
  }

  const chart = new frappe.Chart("#chart", {
    title: "Temperature Trend",
    data: data,
    type: 'line',
    height: 250,
  })
</script>
 
